@import '../index.scss';
@import '../breakpoints';

@include mobile-up {
    .DashboardPage {
        background-color: $globalBg;
        height: 100%;
        width: 100%;
        position: absolute;

        h1 {
            color: $globalText;
            margin-top: 16px;
            text-align: center;
        }

        .recognizeMusicButton {
            box-sizing: border-box;
            height: 250px;
            width: 250px;
            margin: 25vh auto 0;
            border-radius: 500px;
            background: white;
            text-align: center;
            color: $globalBg;
            padding-top: 74px;
            cursor: pointer;
        }

        .playlistButton {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }
}