@import '../index.scss';
@import '../breakpoints';

@include mobile-up {
    .PlaylistPage {
        background-color: $globalBg;
        height: 100%;
        width: 100%;
        position: absolute;

        h1 {
            color: $globalText;
            margin-top: 16px;
        }
    }
}
